.header{
    width: 100%;
    background-color: rgb(89, 157, 225);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title{
    color:white;
    margin-left:4rem;
    display: flex;
    align-items: center;
    font-family: poppins;
}